{% extends "base.html" %}

{% block content %}
  <div class="content-header">
    <h2>
      Посылка №{{ submission.id }}
    </h2>
  </div>
  <div class="content-block">
    Задача: <a href="/problems/{{ submission.problem.id }}">{{ submission.problem.name }}</a>
    <br><br>
    Отправитель: <a href="/users/{{ submission.submitter.id }}">{{ submission.submitter.login }}</a>
    <br><br>
    Язык: <b>{{ LANGUAGES[submission.language].display_name }}</b>
    <br><br>

    <div class="normal-block">
      <textarea id="solution-text"></textarea>
    </div>

    Вердикт:
    <b>
      {% if submission.verdict == 0 %}
        <span class="verdict-neutral">
          отправлено на проверку
        </span>
      {% elif submission.verdict == 1 %}
        <span class="verdict-neutral">
          {% if submission.test %}
            тестируется #{{ submission.test }}
          {% else %}
            тестируется
          {% endif %}
        </span>
      {% elif submission.verdict == 2 %}
        <span class="verdict-good">
          {{ VERDICTS[submission.verdict]().representation }}
          ({{ VERDICTS[submission.verdict]().display_name }})
        </span>
      {% else %}
        <span class="verdict-bad">
          {{ VERDICTS[submission.verdict]().representation }} {{ "#" + submission.test|string if submission.test else "" }}
          ({{ VERDICTS[submission.verdict]().display_name }})
        </span>
      {% endif %}
    </b>
    <br><br>
    Время: <b>{{ submission.time if submission.time else 0 }} ms</b>
    <br><br>
    Память: <b>INOP</b>

  </div>

  <script type="text/javascript">
    {% if submission.language == 1 %}
      let mode = "python"
    {% elif submission.language == 2 %}
      let mode = "text/x-csharp"
    {% else %}
      let mode = ""
    {% endif %}

    var CM = CodeMirror.fromTextArea(document.getElementById('solution-text'), {mode: mode, lineNumbers: true, indentUnit: 4, readOnly: true});
    CM.setValue("{{ submission.data|replace("\\", "\\\\")|replace("\r", "\\\r")|replace("\n", "\\n")|replace('"', '\\"')|safe }}")
  </script>
{% endblock %}
