{% extends "base.html" %}

{% block content %}
  <div class="content-header" id="standings-header">
    <h2>
      Положение
      <a href="/contests/{{ contest.id }}">
        контеста
      </a>
    </h2>
  </div>
  <div class="content-block" id="standings-table">
    {% if contest.participants %}
      <table class="contest-problems-table">
        <tr>
          <th class="id-td">
            <span>
              #
            </span>
          </th>
          <th class="problemname-td">
            <span>
              Логин
            </span>
          </th>
          <th class="id-td central-td">
            <span>
              =
            </span>
          </th>
          {% for problem in contest.problems %}
            <th class="id-td central-td">
              <a href="/problems/{{ problem.id }}">
                {{ 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[loop.index0] }}
              </a>
            </th>
          {% endfor %}
        </tr>
        {% for association in standings %}
          {% set user = association.user %}
          <tr>
            <td class="id-td">
               <span>
                 {{ loop.index }}
                </span>
            </td>
            <td class="problemname-td">
              <span>
                <a href="/users/{{ user.id }}">
                  {{ user.login }}
                </a>
              </span>
            </td>
            <td class="id-td central-td">
              <span>
                {{ user.get_solved_contest_problems_count(contest) }}
              </span>
            </td>
            {% for problem in contest.problems %}
              <td class="id-td central-td">
                {% set upa = user.get_problem_association(problem) %}
                {% if upa %}
                  {% if upa.solved %}
                    <span class="verdict-good">
                      <b>
                        +{{ upa.submissions if upa.submissions > 1 }}
                      </b>
                    </span>
                  {% else %}
                    <span class="verdict-bad">
                      <b>
                        -{{ upa.submissions }}
                      </b>
                    </span>
                  {% endif %}
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      {% if current_user.is_permitted(Permissions.CONTEST_DOWNLOAD_STANDINGS) %}
        <div class="content-block">
          <a href="/contests/{{ contest.id }}/standings/csv" class="alert-admin">
            Скачать CSV
          </a>
        </div>
      {% endif %}
    {% else %}
      Никто не участвует в контесте :—(
    {% endif %}
  </div>
  {% if labour_association %}
    <script>
    let labour_start = new Date("{{ labour_association.performance_date }}Z");
    let labour_end = new Date("{{ labour_association.performance_date + labour.perfomance_time }}Z");
    let timecheck_function = function() {
        let now = new Date();
        now = Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(), now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds());
        let end_distance = labour_end - now;
        let start_distance = labour_start - now;

        let out;
        if (start_distance > 0) {
            return
        }
        else if (end_distance < 0) {
          out = 'Выполнение работы завершено.';
          clearInterval(countdown_function);
        } else {
          let hours = Math.floor(end_distance / (1000 * 60 * 60));
          let minutes = Math.floor((end_distance % (1000 * 60 * 60)) / (1000 * 60));
          let seconds = Math.floor((end_distance % (1000 * 60)) / 1000);
          out = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        }

        document.title = out + " — Работа №{{ labour.id }}";
    }
    let countdown_function = setInterval(timecheck_function, 1000);
    timecheck_function();
    </script>
    {% endif %}
{% endblock %}
