{% extends "base.html" %}

{% block content %}
  <div class="content-header" id="problem-header">
    <h1>
      {{ problem.name }}
    </h1>
    <h3 id="limits">
      {{ problem.time_limit }} с, {{ problem.memory_limit }} Мб.
    </h3>
  </div>
  <div class="content-block" id="situation">
    {{ problem.situation|replace('\n', '<br>')|safe }}
  </div>
  {% if problem.input_data %}
    <div class="content-block" id="input-data">
      <h3>
        Входные данные
      </h3>
      {{ problem.input_data|replace('\n', '<br>')|safe }}
    </div>
  {% endif %}
  {% if problem.output_data %}
    <div class="content-block" id="output-data">
      <h3>
        Выходные данные
      </h3>
      {{ problem.output_data|replace('\n', '<br>')|safe }}
    </div>
  {% endif %}
  {% if problem.examples %}
    <div class="content-block" id="examples">
      <h3>
        Примеры
      </h3>
      {% for example in problem.examples %}
        <div class="example">
          <div class="example-input">
            <span class="small-grey-label">
              Входные данные
            </span>
            <div class="data-box">
              {{ example.input_data|replace('\n', '<br>')|safe }}
            </div>
          </div>
          <div class="example-output">
            <span class="small-grey-label">
              Выходные данные
            </span>
            <div class="data-box">
              {{ example.output_data|replace('\n', '<br>')|safe }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="content-block" id="send">
    <h3>
      Сдать
    </h3>
    {% if current_user.is_authenticated %}
      <div class="normal-block">
        <form method="post" enctype="multipart/form-data" name="file-solution-send" action="">
          {{ submit_file_form.hidden_tag() }}

          {{ submit_file_form.language() }}<br>
          {% for error in submit_file_form.language.errors %}
              <p class="alert alert-danger" role="alert">
                  {{ error }}
              </p>
          {% endfor %}

          <label class="label">
            <span class="primary-button">Загрузить файл</span>
            {{ submit_file_form.data(class="nodisp", onchange="this.form.submit()") }}
          </label>
          {% for error in submit_file_form.data.errors %}
              <div class="alert alert-danger small-block" role="alert">
                  {{ error }}
              </div>
          {% endfor %}
        </form>
      </div>
      <div class="big-block">
        <form method="post" name="text-solution-send" action="">
          {{ submit_text_form.hidden_tag() }}
          {{ submit_text_form.data(id="solution-text") }}

          {{ submit_text_form.language() }}<br>
          {% for error in submit_text_form.language.errors %}
              <p class="alert alert-danger" role="alert">
                  {{ error }}
              </p>
          {% endfor %}

          {% for error in submit_text_form.data.errors %}
              <div class="alert alert-danger small-block" role="alert">
                  {{ error }}
              </div>
          {% endfor %}

          <div class="small-block">
            {{ submit_text_form.submit(class="submit_button") }}
          </div>
        </form>
      </div>
      <div class="normal-block" id="my-submissions">
        <a href="/problems/{{problem.id}}/submissions">Мои посылки</a>
      </div>
    {% else %}
        Чтобы сдать задачу, нужно <a href="/login?next=/problems/{{ problem.id }}#send">войти в систему</a> или <a href="/register?next=/problems/{{ problem.id }}#send">зарегистрироваться</a>.
    {% endif %}
    {% if current_user.is_authenticated and current_user.is_admin() %}
      <div class="normal-block" id="admin-features">
        <a href="/problems/{{problem.id}}/tests" class="list alert-admin">
          Посмотреть тесты
        </a>
        <br>
        <a href="/problems/{{problem.id}}/edit" class="list alert-admin">
          Редактировать задачу
        </a>
        <br>
        <a href="/problems/{{ problem.id }}/delete" class="alert-danger list">
          Удалить задачу
        </a>
      </div>
    {% endif %}
  </div>

  <script type="text/javascript">
    var CM = CodeMirror.fromTextArea(document.getElementById('solution-text'), {mode: 'python', lineNumbers: true, indentUnit: 4});
  </script>
{% endblock %}
