{% extends "base.html" %}

{% block content %}
  <div class="content-header" id="problem-header">
    <h1>
      {{ group.name }}
    </h1>
  </div>
  {{ page_scroller() }}
  <div class="content-block">
    {% if users %}
      <table class="submissions-table">
        <tr>
          <th class="id-td">
            <span>
              #
            </span>
          </th>
          <th class="problemname-td">
            <span>
              Логин
            </span>
          </th>
        </tr>
        {% for user in users %}
          <tr>
            <td class="id-td">
              {{ user.id }}
            </td>
            <td class="problemname-td">
              <a href="/users/{{ user.id }}">{{ user.login }}</a>
            </td>
            {% if current_user.is_permitted(Permissions.GROUP_REMOVE_USER) %}
              <td class="id-td">
                <a class="alert-danger delete-button" href="/groups/{{ group.id }}/remove_user/{{ user.id }}">
                  ×
                </a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>

  <div class="normal-block" id="admin-features">
    {% if current_user.is_permitted(Permissions.GROUP_ADD_USER) %}
      <br>
      <a href="/groups/{{group.id}}/add_user" class="list alert-admin">
        Добавить пользователя
      </a>
    {% endif %}
    {% if current_user.is_permitted(Permissions.GROUP_EDIT) %}
      <br>
      <a href="/groups/{{group.id}}/edit" class="list alert-admin">
        Редактировать группу
      </a>
    {% endif %}
    {% if current_user.is_permitted(Permissions.GROUP_DELETE) %}
      <br>
      <a href="/groups/{{ group.id }}/delete" class="alert-danger list">
        Удалить группу
      </a>
    {% endif %}
  </div>
  {{ page_scroller() }}
{% endblock %}
