{% extends "base.html" %}

{% block content %}
  <div class="content-header">
    <h2>
      Группы
    </h2>
  </div>
  {{ page_scroller() }}
  <div class="content-block">
    {% if groups %}
      <table class="submissions-table">
        <tr>
          <th class="id-td">
            <span>
              #
            </span>
          </th>
          <th class="problemname-td">
            <span>
              Название
            </span>
          </th>
          <th class="solutions-td">
            <span>
              =
            </span>
          </th>
        </tr>
        {% for group in groups %}
          <tr>
            <td class="id-td">
              {{ group.id }}
            </td>
            <td class="problemname-td">
              <a href="/groups/{{ group.id }}">{{ group.name }}</a>
            </td>
            <th class="solutions-td">
              {{ group.users|length }}
            </th>
            {% if current_user.is_permitted(Permissions.GROUP_DELETE) %}
              <td class="id-td">
                <a class="alert-danger delete-button" href="/groups/{{ group.id }}/delete">
                  ×
                </a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
  {% if current_user.is_permitted(Permissions.GROUP_CREATE) %}
    <div class="normal-block" id="admin-features">
      <a href="/groups/create" class="list alert-admin">
        Создать группу
      </a>
    </div>
  {% endif %}
  {{ page_scroller() }}
{% endblock %}
