<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="/static/css/style.css">
      <link href="/static/css/codemirror.css" rel="stylesheet">
      <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
      <script src="/static/js/codemirror.js"></script>
      <script src="/static/js/python.js"></script>
      <title>{{title}}</title>
  </head>
<body>
  <header>
      <a href="/" style="border: none;">
        <div id="logo">
          <img src="/static/img/logo.png">
        </div>
        <div id="header-links">
      </a>
        <div class="link-wrapper">
          Главная
        </div>
        <div class="link-wrapper">
          <a href="/problems">Задачи</a>
        </div>
        <div class="link-wrapper">
          <a href="/contests">Контесты</a>
        </div>
      </div>
      <div id="login-block">
        {% if current_user.is_authenticated %}
          Вы вошли как <b>{{ current_user.login }}</b><br>
          <a href="/logout">Выйти</a>
        {% else %}
          <a href="/login">Войти</a><br>
          <a href="/register">Зарегистрироваться</a>
        {% endif %}
      </div>
  </header>
  <main role="main" id="main">
      {% block content %}{% endblock %}
  </main>
  <footer>
    <div id="footer-div"></div>
  </footer>
</body>
</html>
