<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?{{ range(10000000000)|random }}">
    <link href="/static/css/codemirror.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/codemirror.js"></script>
    <script src="/static/js/python.js"></script>
    <script src="/static/js/clike.js"></script>
    <script src="/static/js/main.js"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(67179898, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/67179898" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    <title>{{title}}</title>
    </head>
<body>
  <header>
    <a href="/" style="border: none;">
      <div id="logo">
        <img src="/static/img/logo.png">
      </div>
    </a>
    <div id="header-links">
        {% set path = request.path %}
        {% set links = {'/': ["Главная", Permissions.INDEX_VIEW],
          '/problems/': ["Задачи", Permissions.PROBLEMS_VIEW],
          '/contests/': ["Контесты", Permissions.CONTESTS_VIEW],
          '/submissions/': ["Мои посылки", Permissions.SUBMISSIONS_VIEW],
          '/users/': ["Пользователи", Permissions.USERS_VIEW],
          '/groups/': ["Группы", Permissions.GROUPS_VIEW],
          '/submissions/all': ["Все посылки", Permissions.SUBMISSIONS_VIEW_ALL]}
        %}

        {% for key, value in links.items() %}
            {% if current_user.is_permitted(value[1]) %}
                <div class='link-wrapper'>
                {% if path != key %} <a href='{{ key }}'>{{ value[0] }}</a> {% else %} {{ value[0] }} {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="login-block">
      {% if current_user.is_authenticated %}
        Вы вошли как <a href="/users/{{ current_user.id }}"><b>{{ current_user.login }}</b></a><br>
          <a href="/logout?next={{ path }}">Выйти</a><br>
      {% else %}
          <a href="/login?next={{ path }}">Войти</a><br>
        <a href="/register">Зарегистрироваться</a>
      {% endif %}
    </div>
  </header>
  <main role="main" id="main">
      {% block content %}{% endblock %}
  </main>
  <footer>
    <div id="credits">
      Pycon 0.9.10 by Adam Arutyunov.<br>
      Final Yandex.Lyceum 2020 project.<br>
    </div>
    <div id="footer-div"></div>
  </footer>
</body>
</html>
