{% extends "base.html" %}

{% block content %}
  <h2>
    Создать задачу
  </h2>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <div class="normal-block">
      <h3>
        {{ form.problem_name.label }}
      </h3>
      {{ form.problem_name(class="static-input") }}<br>
      {% for error in form.problem_name.errors %}
          <p class="alert alert-danger" role="alert">
              {{ error }}
          </p>
      {% endfor %}
    </div>

    <div class="normal-block">
      <h3>
        <label>
          Ограничения
        </label>
      </h3>
      {{ form.time_limit(class="ok-so-basically-im-very-smol", type="number") }} с,
      {{ form.memory_limit(class="ok-so-basically-im-very-smol", type="number") }} Мб.
    </div>

    <div class="normal-block">
      <h3>
        {{ form.situation.label }}
      </h3>
      {{ form.situation(placeholder="Поддерживается HTML.") }}<br>
      {% for error in form.situation.errors %}
          <p class="alert alert-danger" role="alert">
              {{ error }}
          </p>
      {% endfor %}
    </div>

    <div class="normal-block">
      <h3>
        {{ form.input_data.label }}
      </h3>
      {{ form.input_data(placeholder="Поддерживается HTML.") }}<br>
      {% for error in form.input_data.errors %}
          <p class="alert alert-danger" role="alert">
              {{ error }}
          </p>
      {% endfor %}
    </div>

    <div class="normal-block">
      <h3>
        {{ form.output_data.label }}
      </h3>
      {{ form.output_data(placeholder="Поддерживается HTML.") }}<br>
      {% for error in form.output_data.errors %}
          <p class="alert alert-danger" role="alert">
              {{ error }}
          </p>
      {% endfor %}
    </div>

    <div class="big-block">
      {{ form.submit(type="submit", value=action) }}
    </div>
    <div class="small-block">
      <p class="alert alert-danger" role="alert">
        {{message}}
      </p>
    </div>
  </form>
{% endblock %}
