{% extends "base.html" %}

{% block content %}
  <h1>Pycon</h1>
  <br>
  Добро пожаловать на <b>Pycon</b> — площадку для обучения программированию на Python и C#.
  <br><br>
  Чтобы решать <a href="/problems">задачи</a> и принимать участие в <a href="/contests">контестах</a>, вам нужно <a href="/login">войти в систему</a>,<br>а если нет аккаунта — <a href="/register">зарегистрироваться</a>.
  <br><br>
  Сейчас платформа находится в стадии тестирования. Проблемы, вопросы, предложения — <a href="/feedback">сюда</a>.
  <br><br>

  {% if current_user.is_permitted(Permissions.NEWS_CREATE) %}
    <a href="/news/create" class="alert-admin">Создать новость</a>
  {% endif %}

  {% if news %}
    <div class="content-block">
      {% for new in news %}
        <div class="news-block">
          <h3>
            {{ new.title|safe }}<br>

            <span class="normal-grey-label">
              <a href="/users/{{ new.author.id }}">{{ new.author.login }}</a>,
              {{ new.publication_date.strftime("%d.%m.%Y %H:%M") }}
            </span>
          </h3>
          <div style="height: 20px;"></div>

          {{ new.body|safe }}
          <div style="height: 20px;"></div>

          <div class="news-rating">
          {% if current_user.is_permitted(Permissions.NEWS_RATE) %}
            {% set user_rating = current_user.get_news_rate(new) %}
            {% if user_rating == None %}
              <a class="rating-button rate-up-button" id="rate-up-{{ new.id }}" onclick="rate_news({{ new.id }}, 1)">▲</a>
              <span id="rating-counter-{{ new.id }}">{{ new.rating }}</span>
              <a class="rating-button rate-down-button" id="rate-down-{{ new.id }}" onclick="rate_news({{ new.id }}, -1)">▼</a>
            {% elif user_rating == 1 %}
              <a class="rating-button rate-up-button rating-up" id="rate-up-{{ new.id }}" onclick="unrate_news({{ new.id }})">▲</a>
              <span id="rating-counter-{{ new.id }}">{{ new.rating }}</span>
              <a class="rating-button rate-down-button" id="rate-down-{{ new.id }}" onclick="rate_news({{ new.id }}, -1)">▼</a>
            {% elif user_rating == -1 %}
              <a class="rating-button rate-up-button" id="rate-up-{{ new.id }}" onclick="rate_news({{ new.id }}, 1)">▲</a>
              <span id="rating-counter-{{ new.id }}">{{ new.rating }}</span>
              <a class="rating-button rate-down-button rating-down" id="rate-down-{{ new.id }}" onclick="unrate_news({{ new.id }})">▼</a>
            {% endif %}
          {% else %}
            <a class="rating-button rate-disabled-button">▲</a>
            <span id="rating-counter-{{ new.id }}">{{ new.rating }}</span>
            <a class="rating-button rate-disabled-button">▼</a>
          {% endif %}
          </div>

          {% if current_user.is_permitted(Permissions.NEWS_EDIT) or current_user.is_permitted(Permissions.NEWS_DELETE) %}
            <br>
          {% endif %}
          {% if current_user.is_permitted(Permissions.NEWS_EDIT) %}
            <a href="/news/{{ new.id }}/edit" class="alert-admin">Редактировать</a>
          {% endif %}
          {% if current_user.is_permitted(Permissions.NEWS_DELETE) %}
            &nbsp;&nbsp;&nbsp;<a href="/news/{{ new.id }}/delete" class="alert-admin">Удалить</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
