{% extends "base.html" %}

{% block content %}
  <h1>Pycon</h1>
  <br>
  Добро пожаловать на <b>Pycon</b> — площадку для проведения олимпиад по спортивному программированию на Python.
  <br><br>
  Здесь есть <a href="/problems">задачи</a> и <a href="/contests">контесты</a>.
  <br><br>
  Чтобы принимать участие в контестах, вам нужно <a href="/login">войти в систему</a>, а если нет аккаунта — <a href="/register">зарегистрироваться</a>.
  <br><br>
  Наверное, здесь достаточно просто что-нибудь сломать или взломать. Не надо, пожалуйста.
  <br><br>
  Название читается как <i>«Па́йкон»</i>.
  <br><br>
  Сейчас платформа находится в стадии тестирования. Все замечания запомните до того момента, как мы будем собирать обратную связь.
  <br><br>
  Удачи!
  <br><br>
{% endblock %}
