{% extends "base.html" %}

{% set verdict_labels = {"RE": "Ошибка исполнения",
                         "CE": "Ошибка компиляции",
                         "WA": "Неправильный ответ",
                         "TL": "Превышение лимита времени",
                         "ML": "Превышение лимита памяти"} %}

{% block content %}
  <div class="content-header">
    <h2>
      Мои посылки
    </h2>
  </div>
  <div class="content-block">
    {% if submissions %}
      <table class="submissions-table">
        <tr>
          <th class="id-td">
            <span>
              #
            </span>
          </th>
          <th class="timestamp-td">
            <span>
              Дата
            </span>
          </th>
          <th class="problemname-td">
            <span>
              Название
            </span>
          </th>
          <th class="verdict-td">
            <span>
              Вердикт
            </span>
          </th>
          <th class="time-td">
            <span>
              Время
            </span>
          </th>
          <th class="memory-td">
            <span>
              Память
            </span>
          </th>
        </tr>
        {% for submission in submissions %}
          <tr>
            <td class="id-td">
              {{ submission.id }}
            </td>
            <td class="timestamp-td">
              {{ submission.submit_timestamp.strftime("%d.%m.%Y<br>%H:%M:%S")|safe }}
            </td>
            <td class="problemname-td">
              <a href="/problems/{{ submission.problem.id }}">{{ submission.problem.name }}</a>
            </td>
            <td class="verdict-td">
              {% if submission.verdict == None %}
                <span class="verdict-neutral">
                  Отправлено на проверку
                </span>
              {% elif submission.verdict == 'TG' %}
                <span class="verdict-neutral">
                  {% if submission.test %}
                    Тестируется #{{ submission.test }}
                  {% else %}
                    Тестируется
                  {% endif %}
                </span>
              {% elif submission.verdict == 'OK' %}
                <span class="verdict-good">
                  {{ submission.verdict }}
                </span>
              {% else %}
                <span class="verdict-bad" title="{{ verdict_labels[submission.verdict] }}"">
                  {{ submission.verdict }} #{{ submission.test }}
                </span>
              {% endif %}
            </td>
            <td class="time-td">
              <span>
                {{ submission.time if submission.time else 0 }} ms
              </span>
            </td>
            <td class="memory-td">
              <span>
                INOP
                <!-- {{ submission.memory if submission.memory else 0 }} KB -->
              </span>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
{% endblock %}
