<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?{{ range(10000000000)|random }}">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

    <title>Технические работы</title>
    </head>
<body>
  <main id="centerblock">
      <img src="/static/img/logo.png">
      <h3>Технические работы</h3>
      Подождите, мы делаем Pycon<br>ещё лучше.
  </main>
</body>
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h3 {
      margin-top: 20px;
    }
    #centerblock {
      width: 20%;
    }
  </style>
</html>
