{% extends "base.html" %}

{% block content %}
  <h2>
    Добавить задачу
  </h2>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <div class="normal-block">
      <h3>
        {{ form.problem_id.label }}
      </h3>
      {{ form.problem_id(class="static-input") }}<br>
      {% for error in form.problem_id.errors %}
          <p class="alert alert-danger" role="alert">
              {{ error }}
          </p>
      {% endfor %}
    </div>

    <div class="big-block">
      {{ form.submit(type="submit") }}
    </div>
    <div class="small-block">
      <p class="alert alert-danger" role="alert">
        {{message}}
      </p>
    </div>
  </form>
{% endblock %}
