{% extends "base.html" %}

{% block content %}

  <h3 {% if user.is_admin() %}class="alert-admin"{% endif %}>
    {% if user.is_admin() %}Администратор{% else %}Пользователь{% endif %}
  </h3>
  <h1 {% if user.is_admin() %}class="alert-admin"{% endif %} style="font-size: 80pt">{{ user.login }}</h1>

  <div class="small-block" style="line-height: 2">
    Группа:
    {% if user.group %}
      <a href="/groups/{{ user.group.id }}">{{ user.group.name }}</a>
    {% else %}
      <b>нет</b>
    {% endif %}
    <br>

    Зарегистрирован <b>{{ user.registration_date.strftime("%d.%m.%Y") }}</b>
    <br>
    Задач решено: <b>{{ user.problems_solved|length }}</b>
  </div>
{% endblock %}
