{% extends "base.html" %}

{% block content %}
  <h3 style="color: {{ user.get_role().color }}">
    {{ user.get_role().display_name }}
  </h3>
  <h1 class="" style="color: {{ user.get_role().color }}; font-size: 80pt">
    {{ user.login }}
  </h1>

  <img src="{{ user.userpic_uri }}" style="width: 300px; height: 300px; margin: 20px 0;"
       onerror="this.parentElement.removeChild(this);">

  <div class="small-block" style="line-height: 1.5">
    <h4>#{{ user.id }}</h4>

    {% if current_user.get_role() == Roles.AdminRole %}
      Почта: <a href="mailto:{{ user.email }}">{{ user.email }}</a><br>
    {% endif %}
    Группа:

    {% if user.group %}
      {% if current_user.is_permitted(Permissions.GROUP_VIEW) and current_user.group == user.group or
            current_user.get_role() == Roles.AdminRole %}
        <a href="/groups/{{ user.group.id }}">{{ user.group.name }}</a>
      {% else %}
        <b>{{ user.group.name }}</b>
      {% endif %}
    {% else %}
      <b>нет</b>
    {% endif %}
    <br>

    Зарегистрирован <b>{{ user.registration_date.strftime("%d.%m.%Y") }}</b>
    <br>
    Задач решено: <b>{{ user.solved_problems|length }}</b>
  </div>
  {% if (user == current_user and current_user.is_permitted(Permissions.USER_LOAD_USERPIC)) or
         current_user.get_role() == Roles.AdminRole %}
    <div class="small-block">
      <form method="post" enctype="multipart/form-data">
        {{ userpic_form.hidden_tag() }}
        {{ userpic_form.csrf_token }}

        <label class="label">
          <span class="primary-button">Загрузить юзерпик</span>
          {{ userpic_form.image(class="nodisp", onchange="this.form.submit()") }}
        </label>    
        {% if user.userpic_uri %}
          <a href="/users/{{ user.id }}/delete_userpic">Удалить</a>
        {% endif %}

        <br><br>

        {% for error in userpic_form.image.errors %}
          <p class="alert alert-danger" role="alert">
              {{ error }}
          </p>
        {% endfor %}
      </form>
    </div>
  {% endif %}

  {% if current_user.is_permitted(Permissions.SUBMISSIONS_VIEW_ALL) %}
    <a href="/submissions/all?user_id={{ user.id }}">Посылки</a>
  {% endif %}

  {% if current_user.is_permitted(Permissions.ASSIGN_ROLES) %}
    <div class="small-block">
      <form method="post">
        {{ assign_role_form.hidden_tag() }}
        {{ assign_role_form.csrf_token }}

        {{ assign_role_form.role() }}<br>
        {% for error in assign_role_form.role.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        {{ assign_role_form.submit(class="primary-button") }}
      </form>
    </div>
  {% endif %}
{% endblock %}
